:root {
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-100);
  font-family: "Work Sans", sans-serif;
  font-style: normal;

}

img[alt="background-pattern-desktop"] {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

article {
  max-width: 600px;
  width: 80%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--purple-950);
  font-weight: 700;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--purple-950);
  font-weight: 600;
  font-size: 18px;
}

h2:hover {
  cursor: pointer;
  color: #C500F0;
}

hr{
  width: 100%;
  border: 1px solid var(--purple-100);
}

section p {
  display: none;
  color: var(--purple-600);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

section.active p {
  display: block;
}

article section h2:hover {
  cursor: pointer;
}

article section h2 img[alt="icon-minus"] {
  display: none;
}

article section.active h2 img[alt="icon-plus"] {
  display: none;
}

article section.active h2 img[alt="icon-minus"] {
  display: inline;
}


summary {
  /* Hide the default triangle marker */
  list-style: none; /* For Firefox */
}

/* Hide the default triangle marker in WebKit browsers (Chrome, Safari) */
summary::-webkit-details-marker {
  display: none;
}