body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img[alt="background-pattern-desktop"] {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section p {
  display: none;
}

section.active p {
  display: block;
}

article section h2:hover {
  cursor: pointer;
}

article section h2 img[alt="icon-minus"] {
  display: none;
}

article section.active h2 img[alt="icon-plus"] {
  display: none;
}

article section.active h2 img[alt="icon-minus"] {
  display: inline;
}
